{{> header}}
<div class="navbarcart">
  <a href="/"><button class="cart-btn" type="submit">HOME</button></a>
  <h1 class="cart-text">{{onion}}</h1> 
  <form class="d-flex" method="POST" action="/search/qty" novalidate>
          <input class="form-control me-2" type="search" placeholder="Search" name="qty" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
  </form>

</div>
<table class="table table-bordered table-hover table-striped table-hover table-striped border border-info table-striped-columns text-center">
  
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.NO</th>
      <th scope="col">QTY</th>
      <th scope="col">NAME</th>
      <th scope="col">PRICE</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  
  <tbody>   
    {{#each rows}}
    <tr>
      <td scope="row"></td>
      <td>{{this.qty}}</td>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>      
      <td><a href="/{{this.SNO}}"><button class="btn">
      <i class="bi bi-person-x"></i>Delete</button></a></td>  
    </tr>  
      {{/each}}
  </tbody>
</table>

{{> footer}}
